

.navbar{
position: fixed;
top: 0;
width: 100%;
height:30px;
padding: 20px;
background-color: #111;
display: flex;
justify-content: space-between;
}

.logo{
    position: fixed;
    left: 20px;
    width: 80px;
}

.avathar{
    position: fixed;
    right: 20px;
    width: 30px;
}

.signup{
    position: fixed;
    right: 80px;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    background-color: rgb(229, 9, 20);
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.875rem;
    min-height: 2rem;
    cursor: pointer;
    vertical-align: text-top;    
    font-family: "roboto";
}